:root {
  --primary-color: rgb(13, 59, 102);
  --secondary-color: rgb(255, 255, 255);
  --tertiary-color: #2e4559;
  --fourth-color: #f95738;
  --default-color: black;
  --emphasis-color: #04d9b2;
  --fifth-color: #f2d022;
  --d: 700ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Header style */
header {
  display: flex;
  padding: 25px;
  background-color: rgba(13, 59, 102, 0.95);
  justify-content: space-between;
  flex-wrap: wrap;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9999;
}

header h1 {
  font-size: 36px;
  color: var(--secondary-color);
  margin: 0;
}

header a {
  text-decoration: none;
  color: var(--secondary-color);
}

/* Nav animation */
.navi {
  transition: 0.4s;
  padding: 0 5px;
  margin: 0 5px;
  text-align: center;
}
.navi:hover {
  background-color: var(--emphasis-color);
  font-weight: bold;
  color: var(--default-color);
  padding: 100px 15px;
}
/* Nav */
header nav {
  margin: 7px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.15vw;
}
body {
  font-family: fira-sans, sans-serif;
}
/* Hero  */
.hero {
  background-image: url("../images/bg_imagehero.jpg");
  background-size: cover;
  background-position: right;
  background-position: 80%;
  display: flex;
  background-attachment: fixed;
  flex-wrap: wrap;
  height: 95vh;
}
.hero-cta {
  width: 50%;
  text-align: left;
  margin: 3.5%;
  color: var(--secondary-color);
  font-size: 18px;
  line-height: 1.2;
}
.hero-cta h2 {
  background: var(--secondary-color);
  width: 40%;
  font-style: italic;
  font-size: 35px;
  padding: 10px;
  color: black;
}
.hero-cta h3 {
  background: var(--secondary-color);
  width: 47%;
  font-size: 55px;
  padding: 10px;
  color: var(--default-color);
}
.hero-cta p {
  background: white;
  width: 52%;
  font-size: 24px;
  padding: 10px;
  color: black;
}
/* About me section */
.about {
  background: var(--fourth-color);
  padding: 30px 25px;
  color: var(--secondary-color);
}

.bio {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
}

.info {
  flex: 1;
  text-align: left;
  margin: 3.5%;
  font-size: 22px;
  line-height: 1.2;
}

.info p {
  padding-bottom: 15px;
}

.info img {
  width: 100%;
}

/* My Works section */
.myworks {
  background: var(--fifth-color);
  padding: 30px 25px;
}

/* Highlighting project */
.highlight {
  position: relative;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  width: 65%;
  height: 500px;
  margin: 0 auto;
  place-items: center;
  color: whitesmoke;
  background-color: whitesmoke;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1),
    0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1),
    0 16px 16px rgba(0, 0, 0, 0.1);
}

.highlight::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-size: cover;
  background-position: 0 0;
  transition: transform calc(var(--d) * 1.5) var(--e);
  pointer-events: none;
}

.highlight::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  pointer-events: none;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.009) 11.7%,
    rgba(0, 0, 0, 0.034) 22.1%,
    rgba(0, 0, 0, 0.072) 31.2%,
    rgba(0, 0, 0, 0.123) 39.4%,
    rgba(0, 0, 0, 0.182) 46.6%,
    rgba(0, 0, 0, 0.249) 53.1%,
    rgba(0, 0, 0, 0.32) 58.9%,
    rgba(0, 0, 0, 0.394) 64.3%,
    rgba(0, 0, 0, 0.468) 69.3%,
    rgba(0, 0, 0, 0.54) 74.1%,
    rgba(0, 0, 0, 0.607) 78.8%,
    rgba(0, 0, 0, 0.668) 83.6%,
    rgba(0, 0, 0, 0.721) 88.7%,
    rgba(0, 0, 0, 0.762) 94.1%,
    rgba(0, 0, 0, 0.79) 100%
  );
  transform: translateY(-50%);
  transition: transform calc(var(--d) * 2) var(--e);
}
.highlight:nth-child(1)::before {
  background-image: url(../images/run-buddy.png);
}

.other-works {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 1rem;
  padding: 1rem;
  width: 70%;
  margin: 0 auto;
}

.work {
  position: relative;
  display: flex;
  align-items: flex-end;
  flex: 1;
  overflow: hidden;
  height: 350px;
  margin: 0 auto;
  place-items: center;
  color: whitesmoke;
  background-color: whitesmoke;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1),
    0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1),
    0 16px 16px rgba(0, 0, 0, 0.1);
}

.work::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-size: cover;
  background-position: 0 0;
  transition: transform calc(var(--d) * 1.5) var(--e);
  pointer-events: none;
}
.work::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  pointer-events: none;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.009) 11.7%,
    rgba(0, 0, 0, 0.034) 22.1%,
    rgba(0, 0, 0, 0.072) 31.2%,
    rgba(0, 0, 0, 0.123) 39.4%,
    rgba(0, 0, 0, 0.182) 46.6%,
    rgba(0, 0, 0, 0.249) 53.1%,
    rgba(0, 0, 0, 0.32) 58.9%,
    rgba(0, 0, 0, 0.394) 64.3%,
    rgba(0, 0, 0, 0.468) 69.3%,
    rgba(0, 0, 0, 0.54) 74.1%,
    rgba(0, 0, 0, 0.607) 78.8%,
    rgba(0, 0, 0, 0.668) 83.6%,
    rgba(0, 0, 0, 0.721) 88.7%,
    rgba(0, 0, 0, 0.762) 94.1%,
    rgba(0, 0, 0, 0.79) 100%
  );
  transform: translateY(-50%);
  transition: transform calc(var(--d) * 2) var(--e);
}

.work:nth-child(1)::before {
  background-image: url(../images/Horiseon.png);
}
.work:nth-child(2)::before {
  background-image: url(../images/coming-soon.jpeg);
}
.work:nth-child(3)::before {
  background-image: url(../images/coming-soon.jpeg);
}
.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
  transition: transform var(--d) var(--e);
  z-index: 1;
}
.content > * + * {
  margin-top: 1rem;
}

.title {
  background: var(--fourth-color);
  color: var(--secondary-color);
  font-size: 1.3rem;
  font-weight: bolder;
  line-height: 1.2;
  padding: 15px;
}

.copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.125rem;
  line-height: 1.35;
  background: var(--secondary-color);
  color: var(--default-color);
  text-align: center;
  padding: 10px;
}

.btn {
  cursor: pointer;
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 0.65rem;
  font-weight: bold;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: var(--secondary-color);
  background-color: var(--default-color);
  border: none;
  text-decoration: none;
}
.btn:hover {
  background-color: var(--emphasis-color);
  color: var(--default-color);
}
.btn:focus {
  outline: 1px dashed var(--fifth-color);
  outline-offset: 3px;
}
/* Contact me section */
.contact {
  background-color: var(--tertiary-color);
  padding: 30px 25px;
  color: var(--secondary-color);
}
.contact-form {
  text-align: center;
  margin-top: 35px;
  margin-bottom: 25px;
}
.contact-form fieldset {
  background: var(--secondary-color);
  border: 0 none;
  border-radius: 0px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  box-sizing: border-box;
  width: 30%;
  margin: 0 auto;
}
.contact-form input,
.contact-form textarea {
  font-family: Arial, Helvetica, sans-serif;
}
.contact-form input,
.contact-form textarea,
.contact-form button {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 0px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  color: #2c3e50;
  font-size: 13px;
}

.contact-form button {
  font-family: fira-sans, sans-serif;
  font-weight: bolder;
  text-transform: uppercase;
  border: none;
  font-size: 16px;
}

.contact-form input:focus,
.contact-form textarea:focus,
.contact-form button:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid var(--emphasis-color);
  outline-width: 0;
  transition: All 0.5s ease-in;
  -webkit-transition: All 0.5s ease-in;
  -moz-transition: All 0.5s ease-in;
  -o-transition: All 0.5s ease-in;
}
.contact-form button:hover {
  border: 0;
  text-transform: uppercase;
  background: var(--emphasis-color);
  color: var(--default-color);
}
.f-title {
  font-size: 18px;
  text-transform: uppercase;
  color: #2c3e50;
  margin-bottom: 10px;
  letter-spacing: 2px;
  font-weight: bold;
}
.f-subtitle {
  font-weight: normal;
  font-size: 16px;
  color: #666;
  margin-bottom: 20px;
}
.section-title {
  font-size: 32px;
  text-align: center;
  margin: 0 auto 5px auto;
  padding: 30px;
}

/* Social buttons */
.socials {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.social-buttons__button {
  margin: 10px 5px 0;
}
.social-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  width: 40px;
  height: 40px;
  text-decoration: none;
  border-radius: 100%;
  background: #fff;
  text-align: center;
}
.social-button::after {
  content: "";
  position: absolute;
  top: -1px;
  left: 50%;
  display: block;
  width: 0;
  height: 0;
  border-radius: 100%;
  transition: 0.3s;
}
.social-button:focus,
.social-button:hover {
  color: #fff;
}
.social-button:focus::after,
.social-button:hover::after {
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  margin-left: calc(-50% - 1px);
}
.social-button i,
.social-button svg {
  position: relative;
  z-index: 1;
  transition: 0.3s;
}
.social-button i {
  font-size: 20px;
}
.social-button svg {
  height: 40%;
  width: 40%;
}

.social-button--linkedin {
  color: #0077b5;
}
.social-button--linkedin::after {
  background: #0077b5;
}
.social-button--github {
  color: #6e5494;
}
.social-button--github::after {
  background: #6e5494;
}

/* Footer style */
footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background: var(--primary-color);
  width: 100%;
  color: var(--secondary-color);
  padding: 20px 35px;
}

footer h3 {
  padding-top: 15px;
  font-family: alkaline, sans-serif;
  text-align: left;
}

.copyright {
  padding-top: 20px;

  text-align: right;
}
/* My work animation */
@media (hover: hover) and (min-width: 600px) {
  .highlight::after,
  .work::after {
    transform: translateY(0);
  }

  .content {
    transform: translateY(calc(100% - 4.5rem));
  }
  .content > *:not(.title) {
    opacity: 0;
    transform: translateY(1rem);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e);
  }

  .highlight:hover,
  .highlight:focus-within,
  .work:hover,
  .work:focus-within {
    align-items: center;
  }

  .highlight:hover::before,
  .highlight:focus-within::before,
  .work:hover::before,
  .work:focus-within::before {
    transform: translateY(-4%);
  }

  .highlight:hover::after,
  .highlight:focus-within::after,
  .work:hover::after,
  .work:focus-within::after {
    transform: translateY(-50%);
  }

  .highlight:hover .content,
  .highlight:focus-within .content,
  .work:hover .content,
  .work:focus-within .content {
    transform: translateY(0);
  }
  .highlight:hover .content > *:not(.title),
  .highlight:focus-within .content > *:not(.title),
  .work:hover .content > *:not(.title),
  .work:focus-within .content > *:not(.title) {
    opacity: 1;
    transform: translateY(0);
    transition-delay: calc(var(--d) / 8);
  }

  .highlight:focus-within:before,
  .highlight:focus-within:after,
  .highlight:focus-within .content,
  .highlight:focus-within .content > *:not(.title),
  .work:focus-within:before,
  .work:focus-within:after,
  .work:focus-within .content,
  .work:focus-within .content > *:not(.title) {
    transition-duration: 0s;
  }
}
/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
  header nav ul li a {
    font-size: 20px;
  }
  .hero-cta h2 {
    font-size: 30px;
  }
  .hero-cta h3 {
    font-size: 40px;
    width: 90%;
  }
  .hero-cta p {
    width: 95%;
  }
  .highlight {
    height: 350px;
    width: 100%;
  }
  .other-works{
    width: 100%;
  }
  .contact-form fieldset {
    width: 55%;
  }
}
@media screen and (max-width: 768px) {
  .contact-form fieldset {
    width: 75%;
  }
}
@media screen and (max-width: 575px) { 
  header h1 {
    font-size: 32px;
  }
  header nav ul li a {
    font-size: 18px;
  }
  .navi:hover {
    padding: 30px 15px;

  }
  .info {
    flex: 0 70%;
    font-size: 18px;
  }
  .contact-form fieldset {
    width: 95%;
  }
  .work {
    height: 300px;
  }
  .title {
    font-size: 1.0rem;
  }
  .copy {
    font-size: 0.791rem;
  }
  .btn {
    font-size: 0.57rem;
  }
}